[submodule ".registry"]
	path = .registry
	url = https://github.com/coalesce-lab/universe
	branch = HEAD
[submodule "NSUM"]
	path = NSUM
	url = https://github.com/coalesce-lab/NSUM
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
[submodule "instantiate"]
	path = instantiate
	url = https://github.com/wlandau/instantiate
	registered = false
[submodule "networkscaleup"]
	path = networkscaleup
	url = https://github.com/coalesce-lab/networkscaleup
[submodule "stansum"]
	path = stansum
	url = https://github.com/coalesce-lab/stansum
