[submodule ".registry"]
	path = .registry
	url = https://github.com/coalesce-lab/universe
	shallow = true
	branch = HEAD
[submodule "NSUM"]
	path = NSUM
	url = https://github.com/coalesce-lab/NSUM
	shallow = true
	registered = true
[submodule "networkscaleup"]
	path = networkscaleup
	url = https://github.com/coalesce-lab/networkscaleup
	shallow = true
	registered = true
